
#nvm
#curl https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash

#node
#nvm install node

#vis-network
#npm install vis-network

##^^^ had to install vis-newtork directly from terminal - not working with pip

#python modules
requests
jsonlines
pandas
numpy
python-dotenv
typer
importlib
openai
